<div id="head_image">
 	<div id="slogan"><strong>WELCOME</strong> </BR> </div>
     <div id="under_slogan_text">
	     This web application allows you to measure <br />
	     fuel consumption of your car. It is very easy to use. <br />
	     Register Now!<br />
		 For continue, you most 
	  </div>
	<div id="slogan">
		<strong  style="font-size:30px;"><%=link_to "SIGN IN", new_user_session_path %></strong> or 
		<strong style="font-size:30px;"><%=link_to "SIGN UP", new_user_registration_path %></strong> </BR>  
    </div>
</div>

	
