<div id="menu">
	<ul>
    <li><%= link_to "Me", profile_path, :class=>@state_me%></li>
    <li><%= link_to "My Car", car_path, :class=>@state_car%></li>
    <li><%= link_to "Performances", performances_path, :class=>@state_car%></li>
    </ul>
</div>